.daw {
    min-height: 100vh;
    background: #000000;
    color: #ffffff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.board {
    width: 90%;
    padding-bottom: 5rem;
}